.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

//FONTS----------------------------------------------------------
@font-face {
  font-family: cheltenham-italic-200;
  src: url('../public/fonts/cheltenham/cheltenham-italic-200.woff');
}
@font-face {
  font-family: cheltenham-normal-200;
  src: url('../public/fonts/cheltenham/cheltenham-normal-200.woff');
}
@font-face {
  font-family: karnak-normal-700;
  src: url('../public/fonts/karnak/karnak-normal-700.woff');
}

$purple-color: #9747FF;

.button {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border-radius: 15px;
}

// HOME----------------------------------------------------------

.home {
  background-color: $purple-color;
  height: 100vh;
  min-height: 100vh;
}

.home__year {
  color: white;
}

// YOURNYT----------------------------------------------------------
p {
  margin: 0;
}
.yournyt{
  height: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10%
}
.stat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  font-size: 48px;
  margin: 5% 0;
}
.stat__name{
  font-family: cheltenham-normal-200;
}
.stat__num{
  color: $purple-color;
  font-family: karnak-normal-700;
}