//FONTS----------------------------------------------------------
@font-face {
  font-family: cheltenham-italic-200;
  src: url('../public/fonts/cheltenham/cheltenham-italic-200.woff');
}
@font-face {
  font-family: cheltenham-normal-200;
  src: url('../public/fonts/cheltenham/cheltenham-normal-200.woff');
}
@font-face {
  font-family: karnak-bold;
  src: url('../public/fonts/karnak/karnak-normal-700.woff');
}
@font-face {
  font-family: franklin-normal-500;
  src: url('../public/fonts/franklin/franklin-normal-500.woff');
}

//SETTINGS----------------------------------------------------------
$purple-color: #9747FF;

$text-extralarge: 275px;

//GLOBAL STYLES----------------------------------------------------------
.button {
  font-size: 16px;
  font-family: karnak-bold;
  text-align: center;
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  max-width: 100px;
  position: absolute;
  bottom: 20%;
}

h4 {
  font-size: 12px;
  font-family: franklin-normal-500;
  margin: 5px 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  width: 100%;
  position: fixed;
  top: 0px;
}

// USER PROFILE FOOTER----------------------------------------------------------
.userprofile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2% 10% 5% 10%;
  border-top: 1px solid black;
  position: fixed;
  bottom: 0px;
  background-color: white;

  &__description {
    font-family: cheltenham-normal-200;
    font-size: 21px;
  }
}

// HOME----------------------------------------------------------

.home,.startup {
  background-color: $purple-color;
  top: 0px;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  font-size: 48px;
  padding: 20% 10% 0 10%;


  &__year {
    color: white;
    font-weight: bold;
    font-size: 80px;
    font-family: karnak-bold;

    &--large {
      font-family: karnak-bold;
      color: white;
      font-size: $text-extralarge;
      line-height: $text-extralarge;
      display: flex;
      align-items: center;
      height: 70vh;
    }
  }

  &__name{
    font-family: cheltenham-normal-200;
  }
}

// YOURNYT----------------------------------------------------------
p {
  margin: 0;
}
.yournyt{
  height: 80vh;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10%;
}
.stat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  font-size: 48px;
  margin: 5% 0;

  &__name{
    font-family: cheltenham-normal-200;
  }

  &__num{
    color: $purple-color;
    font-family: karnak-bold;
  }
}